body {
  font-family: sans-serif;
}
#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
.container {
  display: block;
  padding: 15px 20px 25px;
  background: rgb(20, 32, 16);
  border-radius: 30px;
  max-width: 880px;
  margin: 0 auto;
  margin-top: 50px;
  opacity: 85%;
  color: white;
}
li {
  list-style: none;
}
.weather-forecast {
  font-size: 12px;
  text-align: center;
  color: black;
}
.location {
  font-size: 30px;
  line-height: 1.2;
  padding: 5px 1px;
  margin: auto;
}
.condition {
  font-size: 15px;
  line-height: 1;
  padding: 5px 1px;
  margin: auto;
}
.units {
  position: relative;
  top: -23px;
  color: #b3bb5d !important;
}
#celsius-link {
  color: #b3bb5d !important;
}
#fahrenheit-link {
  color: #b3bb5d !important;
}
.search-form {
  margin: 0px 0px 20px 0px;
}
div.row {
  text-align: center;
  padding: 5px 1px;
}

.temperature {
  font-size: 50px;
  line-height: 2;
}
.currentData {
  font-size: 20px;
  padding: 1px 12px;
}
footer {
  color: white;
  display: block;
  padding: 10px 32px 50px;
  max-width: 880px;
  margin: 0 auto;
}
#link {
  color: #b8c061;
  text-decoration: none;
}
input[type="submit"] {
  background: #646a25 !important;
  border-color: #58612a !important;
}
input[type="submit"]:hover {
  color: white;
  background-color: #939b3d !important;
  background: #b8c061 !important;
  border-color: #41491c;
  transition: all 200ms ease-in-out;
  cursor: grab;
}
#pressure {
  color: #b3bb5d;
  font-weight: bold;
  line-height: 2;
}
#humidity {
  color: #b3bb5d;
  font-weight: bold;
  line-height: 2;
}
#wind {
  color: #b3bb5d;
  font-weight: bold;
  line-height: 2;
}
.description {
  color: #b3bb5d;
  font-weight: bold;
  font-size: 15px;
}
.weather-forecast-day {
  font-size: 16px;
  color: #41491c;
  margin: 0%;
}
.weather-forecast-temperatures {
  font-size: 15px;
  color: #41491c;
  font-weight: bold;
  line-height: 2;
  margin: 0%;
}
#weather-forecast-day-min {
  opacity: 0.6;
}
